.article-card-header {
  font-size: 50px;
  text-transform: capitalize;
  margin:15px 0px;
  font-weight: bold;
  color: #333;
  border-left: #e4e4e7 14px solid;
  border-right: #e4e4e7 14px solid;
  padding-left: 15px;
  flex-direction: column;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  padding: 50px;
}
.intro-paragraph {
  font-size: 15px;
  margin-bottom: 20px;
  padding-left: 25px;
  padding-right: 25px;
  text-align: justify;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  flex-direction: column;
}

.avatar {
  width: 300x; /* Adjust the size of the avatar as needed */
  height: 300px; /* Adjust the size of the avatar as needed */
  margin-right: 300px; /* Add some margin to separate the avatar from the text */
}




