.article-card-header {
  font-size: 50px;
  text-transform: capitalize;
  margin: 25px 0px;
  font-weight: bold;
  color: #333;
  border-left: #e4e4e7 14px solid;
  padding-left: 15px;
}

.intro-paragraph {
  font-size: 25px;
  margin-bottom: 20px;
  padding-left: 25px;
}

.social-media-icons {
  display: flex;
  gap: 10px;
  padding-left: 15px;
}

.social-media-icons img {
  width: 50px; /* Adjust as needed */
  height: 50px; /* Adjust as needed */
  padding-left: 15px;
}
.avatar {
  width: 100x; /* Adjust the size of the avatar as needed */
  height: 100px; /* Adjust the size of the avatar as needed */
  border-radius: 100%; /* Makes the avatar circular */
  margin-right: 10px; /* Add some margin to separate the avatar from the text */
}
.right-side {
  flex-grow: 1;
  position: absolute;
  top: 150px; /* Adjust top position */
  left: 2000px; /* Adjust left position */
  display: flex;
  flex-direction: column;
  padding: 24px;
  border-radius: 6px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 420px;
  row-gap: 12px;

}

.page-container {
  display: flex;
  justify-content: space-between;
}

.left-side {
  flex-grow: 1;
}

/* right-side styles moved to .work-widget */

/* Add the rest of your existing CSS rules here */
